*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    perspective: 1000px;
}
.container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    backface-visibility: hidden;
    background-color: #679bcf;
    transform-style: preserve-3d;   
    min-height: 80vh;
    width: 30rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 0px 20px #679bcf , 0 0 50px #679bcf;
}
.card:hover{
    transform-style: preserve-3d;
}
.me {
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.me img{
    width: 10rem;
    z-index: 2;
    border-radius: 50%;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.circle {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.2));
    position: absolute;
    z-index: 1;
}
.info h1{
    color: #000;
    font-size: 1.6rem;
    transition: all 0.7s ease-out;
}
.info h3{
    font-size: 1rem;
    padding: 1rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.7s ease-out;
}
.sizes{
    display: flex;
    justify-content: space-around;
    transition: all 1s ease-out;
    margin-top: 0.5rem;
}
.sizes button{
    box-shadow: 0 0 10px red;
    padding: 0.5rem 0.8rem;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
    color: #000;
}
button.active{
    background: #585858;
    color: white;
}
.profile{
    margin-top: 2rem;
    
}
.profile button{
    width: 100%;
    padding: 1rem 0rem;
    border: none;
    color: white;
    background: crimson;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    transition: all 1.3s ease-out;
}